<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutomationExerciseSuite"
       parallel="tests"
       thread-count="3">

    <!-- Attach Listener -->
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <!-- Login Tests -->
    <test name="LoginTests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <!-- Product Tests -->
    <test name="ProductTests">
        <classes>
            <class name="tests.ProductTest"/>
        </classes>
    </test>

    <!-- Order Tests -->
    <test name="OrderTests">
        <classes>
            <class name="tests.OrderTest"/>
        </classes>
    </test>

</suite>